.cart-align {
  display: flex;
  margin-left: 1.5em;
}

footer {
  text-align: center;
  background-color: lightgray;
}

.cart-item-align {
  display: flex;
  height: 100px;
  justify-content: space-between;
  background-color: white;
  padding: 1em;
}

.modal-header {
  background-color: black;
  color: white;
}

.cart-button {
  width: 100%;
}

.modal-body {
  background-color: #fafafa;
  padding-left: 0;
  padding-right: 0;
}

.cart-button {
  display: flex;
  margin-left: 1em;
  margin-right: 0;
  padding: 0.5em;
  margin-top: 1em;
  width: -moz-fit-content;
  width: fit-content;
  background-color: lightgray;
}

li.nav-item {
  text-align: right;
}

.cart-button > img {
  width: 20px;
}

.navbar {
  padding: 0;
}

.sign-in-register {
  font-size: 10px;
  text-align: center;
}

.categories-drop-down {
  display: flex;
  .dropdown-menu.show {
    width: 100%;
  }
}

.proceed-to-checkout {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
}

.modal-body > span {
  text-align: center;
}

img.vertical-align {
  flex-basis: 10%;
}
div.vertical-align {
  flex-basis: 70%;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .categories-drop-down {
    display: none;
  }
}
