<div *ngIf="type == 'register'" class="form-align">
  <div class="form-type">
    <h3>Sign Up</h3>
    <p>We do not share your personal details with anyone.</p>
  </div>
  <form class="vertical-center">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input
        type="input"
        class="form-control"
        id="firstName"
        aria-describedby="emailHelp"
        placeholder="Enter first name"
      />
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input
        type="input"
        class="form-control"
        id="lastName"
        placeholder="Enter last name"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="passoword">Password</label>
      <input
        type="password"
        class="form-control"
        id="passoword"
        placeholder="Password"
      />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        id="confirmPassword"
        placeholder="Confirm password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>
</div>
<div *ngIf="type == 'signin'" class="form-align">
  <div class="form-type">
    <h3>Login</h3>
    <p>Get access to your Orders, Wishlist and Recommendations</p>
  </div>
  <form class="vertical-center">
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="passoword">Password</label>
      <input
        type="password"
        class="form-control"
        id="passoword"
        placeholder="Password"
      />
    </div>
    <button type="submit" class="btn btn-primary">Signup</button>
  </form>
</div>
