.form-align {
  display: flex;
  justify-content: space-evenly;
  flex-basis: 100%;
  margin: 3em;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.form-type {
  margin: 2em;
}
