.navbar {
  -moz-box-shadow: 3px 3px 5px 1px #ccc;
  -webkit-box-shadow: 3px 3px 5px 1px #ccc;
  box-shadow: 3px 3px 5px 1px #ccc;
  height: 5em;
  margin-bottom: 2em;
}

.navbar-brand {
  height: 70px;
}

.nav-link {
  padding-left: 10%;
}

.footer {
  background-color: lightgrey;
  text-align: center;
}

.navbar-collapse {
  justify-content: space-between;
}

.modal-footer {
  justify-content: center;
}

.fa-shopping-cart {
  color: rgb(197, 24, 82);
}

.cart-align {
  padding-right: 10%;
}

.cart-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cart-proceed-btn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
