.navbar {
  -moz-box-shadow: 3px 3px 5px 1px #ccc;
  -webkit-box-shadow: 3px 3px 5px 1px #ccc;
  box-shadow: 3px 3px 5px 1px #ccc;
  height: 5em;
  margin-bottom: 2em;
}

.navbar-brand {
  height: 70px;
}

.footer {
  background-color: lightgrey;
  text-align: center;
}

.navbar-collapse {
  justify-content: space-between;
}
