.item-align {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item-parent {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin: 1em;
  box-shadow: 5px 0px 9px -5px;
  border-bottom: 2px dotted lightgray;
}

.product-item-parent > h6 {
  min-height: 50px;
}

.product-item > img {
  width: 100%;
}

.product-item > p {
  background-color: lightgray;
  min-height: 100px;
  font-size: 12px;
}

.product-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

// .product-item {
//   display: flex;
//   flex-direction: column;
//   width: 250px;
//   margin: 1em;
//   box-shadow: 5px 0px 9px -5px;
//   border-bottom: 2px dotted lightgray;
// }

// .product-item > p {
//   background-color: lightgray;
//   min-height: 100px;
//   font-size: 12px;
// }
@media screen and (min-width: 767px) {
  .product-item > button > span {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sidenav {
    display: none;
  }
  .product-item-parent {
    width: 300px;
  }
  .product-item {
    flex-direction: row;
  }
  .product-item > img {
    width: 50%;
    height: 200px;
  }

  .product-item > p {
    width: 50%;
    height: 250px;
  }

  .vertical-align {
    display: none;
  }

  .btn {
    flex-basis: 100%;
  }
}

@media screen and (max-width: 480px) {
  .product-item {
    flex-direction: row;
    justify-content: flex-end;
  }
  .btn {
    flex-basis: 50%;
  }
}

.outlet {
  display: flex;
}

.sidenav {
  background-color: lightgray;
}

.sidenav > ul {
  padding: 0;
}
