<div class="outlet">
  <div class="sidenav">
    <ul aria-labelledby="navbarDropdown">
      <li *ngFor="let item of categories" class="dropdown-item">
        <span (click)="navigateToCategory(item.id)">{{ item.name }} </span>
        <hr class="dropdown-divider" />
      </li>
    </ul>
  </div>
  <div *ngIf="!products || !products.length">
    <h2>No products available</h2>
  </div>
  <div *ngIf="products && products.length" class="item-align">
    <div *ngFor="let item of products; index as i" class="product-item-parent">
      <h6>{{ item.name }}</h6>
      <div class="product-item">
        <img [src]="item.imageURL" alt="" srcset="" />
        <p>{{ item.description }}</p>

        <span class="vertical-align">MRP Rs.{{ item.price }}</span>
        <button class="btn" (click)="addToCart(item)">
          Buy Now <span>@ Rs.{{ item.price }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
